* {
	margin: 0;
	padding: 0;
}

body {
	font-family:  Helvetica, sans-serif;
	text-align: center;
	color: #656565;

}

h1, h2 {
	text-transform:  100;
	font-weight: 100;
	border-bottom: 2px solid #656565;
	margin-bottom: 20px;

}

h1 {
	font-size: 40px;
	padding: 20px;
	
}

h2 {
	font-size: 30px;
	text-align: right;
	padding-right: 20px;

	}

p {
	text-align: left;
	padding: 20px 40px;
	font-style: italic;
}

img	{
	border: 2px solid #656565;
}











