<!DOCTYPE html>
<html>
<head>
<style>

* {
	margin: 0;
	padding: 0;
}


body {

	font-family:  Raleway, Arial, sans-serif;
	background-image: url("../images/background.jpg");
	padding-right: 100px;
	margin-top:  40px;
	margin-left: -125px;
	font-family:  Helvetica, sans-serif;
	text-align: center;
	color: #656565;
}


.container {
  height: 320px;
  width: 100;
}

div {
	background-color: white;
	
	width: 700px;
	margin-left: 268px;
	margin-top: 43px;

	padding: 20px;

	}

	img src="images/ecard-nycstartups.jpg" alt="NYC Startups"> {
	
}
	p {
	text-align: left;
}

	h2 {
	text-align: left;
	color: black;
}

</head>
</style>